@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Login Page */
.index {
    background-image: url('book-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}

.loginBtn,
.resetBtn,
.logoutBtn,
.addBtn {
    height: 30px;
    width: 81px;
    border: 2px solid rgb(75, 72, 255);
    background: rgb(75, 72, 255);
    color: #fff;
    cursor: pointer;
}

.divide {
    display: inline-block;
}

.loginBtn:hover,
.resetBtn:hover,
.logoutBtn:hover,
.addBtn:hover {
    border: 2px solid rgb(4, 0, 255);
    background: rgb(4, 0, 255);
}

.login-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-text {
    background: #fff;
    border: 2px solid #333;
    padding: 20%;
    box-shadow: 2px 2px #333;
}

.input-text {
    border: 1px solid #333;
    height: 30px;
}

.top-list {
    margin: -20% -40% 10% -40%;
    display: flex;
    justify-content: center;
}

.list-text {
    font-size: 25px;
    font-weight: 800;
}

.text {
    text-align: justify;
    font-size: 15px;
    margin: 0 -10% 0 -10%;
}

a.text {
    margin: 0;
}

/* ==========================================================================================================================================*\
/* mainpage */

.mainpage {
    background-image: url('book-item.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.95;
    max-width: 100%;
}

.top-title {
    font-size: 300%;
    color: #001cf0;
    text-align: center;
    margin: -1% 0 -1% 0;
}

#add_form {
    background: #175b4e;
}

#entries {
    table-layout: fixed;
}

#add_form {
    margin: 0.5% 5% 0 5%;
    box-shadow: 5px 5px #333;
}

#add_form .text-input {
    font-weight: bold;
    border: none;
    color: #fff;
}

.logoutBtn {
    margin: 0.5% 5% 0 5%;
}

.table-box {
    max-width: 100%;
    border-spacing: 0;
    padding: 1% 5% 0 5%;
}

.text-input {
    display: inline-block;
    width: 30%;
    text-align: justify;
}

.items {
    overflow-x: auto;
    transform: rotateX(180deg);
    padding-top: 3%;
}

.items-wrapper {
    transform: rotateX(180deg);
    overflow-x: auto;

}

.box-data .table-head {
    border: 1px solid #333;
    width: 100%;
    padding: 0 5px 0 5px;
    cursor: pointer;
    background: #fff;
}

.box-data .table-head:hover {
    background: #e2dfdf;
}

.div-head {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.table-data {
    border: 1px solid #333;
    padding: 0 5px 0 5px;
    text-align: center;
    background: #fff;
}

.table-data:hover {
    background: #e2dfdf;
}

.table-head,
.table-data {
    box-shadow: 5px 5px #333;
}

#title,
#title2,
#author {
    text-align: justify;
}

.input-box {
    width: 60%;
}

.delete-button {
    border: 2px solid #333;
    box-shadow: 5px 2px #333;
    background: rgb(75, 72, 255);
    color: #fff;
    cursor: pointer;
}

.delete-button:hover {
    background: rgb(4, 0, 255);
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.divider .sec1 {
    width: 40%;
}

.divider .sec2 {
    width: 30%;
}

.dashboard {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #6c47d2;
    top: 0;
    right: 0;
    z-index: 10;
    width: 0;
    height: 0;
    transition: all 0.5s ease;

}

.dashboardBtn {
    position: fixed;
    border-radius: 10px;
    top: 0;
    right: 0;
    z-index: 20;
    color: #fff;
    font-size: 40px;
    background: #4400ff;
    cursor: pointer;
}

.dashboard.active {
    background: #6c47d2;
    width: 20%;
    height: 100%;
}

.top-box {
    margin-left: 10%;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.board-box {
    margin-left: 10%;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.board-box:hover {
    background: #6145ae;
}

.board-text {
    color: #fff;
    font-weight: 500;

}

.board-box i, .top-box i{
    color: #fff;
    font-size: 20px;
}

