@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Login Page */
.index {
    background-image: url('book-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}

.loginBtn,
.logoutBtn,
.addBtn {
    display: flex;
    height: 40px;
    width: 100px;
    border: 2px solid rgb(75, 72, 255);
    background: rgb(75, 72, 255);
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginBtn:hover,
.logoutBtn:hover,
.addBtn:hover {
    border: 2px solid rgb(4, 0, 255);
    background: rgb(4, 0, 255);
}

.login-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-text {
    background: #fff;
    border: 2px solid #333;
    padding: 40%;
    box-shadow: 2px 2px #333;
}

.login {
    border: 1px solid #333;
    padding: 25%;
    margin: -30%;
}

.button {
    display: flex;
    justify-content: space-around;
}

.input-text {
    border: 1px solid #333;
    height: 30px;
}

.email-text,
.password-text {
    display: grid;
    justify-items: start;
    margin: 5%;
}

.top-list {
    margin: -20% -20% 40% -20%;
    display: flex;
    justify-content: center;
}

.list-text {
    font-size: 25px;
    font-weight: 800;
}

/* mainpage */

.mainpage {
    background-image: url('book-item.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    max-width: 100%;
}

.items {
    background: #fff;
    width: 100%;
}

.logoutBtn,
.addBtn {
    margin: 0.5% 5% 0 5%;
}

.table-box {
    max-width: 100%;
    border-spacing: 0;
    padding: 1% 5% 0 5%;
}

.text-input {
    border: 1px solid #333;
    overflow: scroll;
    resize: none;
    overflow: hidden;
    max-width: fit-content;
}

.box-data .table-head{
    border: 1px solid #333;
    width: 100%;
}

.table-data{
    border: 1px solid #333;
    padding: 0 5px 0 5px;
}
